* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.box {
    text-align: center;
    width: 920px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}

.box img {
    cursor: pointer;
}

#box-msg {
    font-size: 20px;
    font-weight: bold;
}